 .consoleLog{
	  			overflow-y: scroll;
	 		}
.historico{
				height:450px;

		  }	 		
.listUser{
	       width: 210px;
		}	

@media ( max-width : 767px) {
	.historico{
				height:200px;

	}	
	
}